<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header class="header">
        <a href="/admin">Admin</a>
        <a class="home-link" href="/">Home</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </header>
    <form class="product-form" action="/admin/about" method="POST">
        <div class="form-control">
            <label for="content1">About Image URL</label>
            <input type="text" name="content1" id="content1" value="<%= imgs.content1 %>">                
        </div>
        <div class="form-control">
            <label for="content2">About Paragraph</label>
            <textarea type="text" name="content2" id="content2"><%= imgs.content2 %></textarea>               
        </div>
        <div class="button-control">
            <button class="btn" type="submit">Update About Section</button>
        </div>
    </form>
</body>
</html>